.navbar {
  background-color: blue;
  color: #fff;
  padding: 10px;
  text-align: center;
  background: linear-gradient(to right, rgb(113, 191, 218), rgb(2, 2, 132));
  height: 20x;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}