/* Navar */
.navbar {
  color: #b7f4ff;
  padding: 1%;
  text-align: center;
  background: linear-gradient(to right, rgb(113, 191, 218), rgb(2, 2, 132));
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Container for side panel and main content */
.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

/* Side Panel */
.side-panel {
  width: 25%;
  background-color: #09373f;
  padding: 15px;
  border-radius: 10px;
}

#city {
width: 100%;
padding: 10px;
margin-bottom: 10px;
}

html {
  background-color: rgb(212, 242, 242);
}

button {
  background-color: rgb(93, 106, 224);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  font-weight: 100px;
  color: white;
  border-radius: 20px;
  width: 20%;
  text-align: center;
  cursor: pointer;
}

/* Main card */
.main-content {
width: 100%;
padding: 15px;
}

/* Current Weather */
.current-weather {
  border: 4px solid #1b5db5;
  padding: 15px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.forecast {
  width: 100%;
}

.forecast-cards-container div {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-top: 20px;
  width: 60%;
  box-sizing: border-box;
}

.forecast-cards-container ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.card {
  background-color: rgb(127, 212, 246);
  border: 4px solid #2c41f9;
  border-radius: 20px;
  padding: 10px;
  flex: 1;
  text-align: center;
  margin: 5px;
  box-shadow:0 2px 4px #09373f;
}